body {
    margin: auto;
    width: 550px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background: #1F2937;
}

/* Layout */
.hero {
    background: #6943fe;
    color: white;
    padding: 30px 0;
}

#input {
    field-sizing: content;
    text-align: center;
    background: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 58px;
    font-weight: 800;
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 24px;
}

button {
    background: white;
    color: #3D3D3D;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 12px 30px;

}

.main {
    background: #1F2937;
    padding: 30px;
}

.section {
    margin: 0 auto 24px;
    background: #273549;
    padding: 5px;
}

/* Typography */
h1 {
    margin: 0;
    font-size: 28px;
}

.section h3 {
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 600;
}

.section p {
    color: white;
    font-size: 14px;
}