html, body {
    margin: 0;
    text-align: center;
    background: #F4F4F4;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Typography */
h1 {
    margin: 0;
    padding-bottom: 35px;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.03em;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #5A537B;
}

p {
    color: #353535;
}

/* Layout */
header {
    padding: 33px 0;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    font-weight: 800;
}

#num {
    margin: 0;
    width: 500px;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 58px;
    font-weight: 800;
}

button {
    margin-top: 27px;
    padding: 9px 28px;
    background: white;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}

.conversions {
    margin-top: 36px;
}

.conversion {
    margin: 24px auto;
    padding: 30px 0 12px;
    width: 500px;
    background: white;
}