*, *::before, *::after {
    box-sizing: border-box;  
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #fff;
    height: 100vh;
}

/* =================
    Site Layout 
   ================= */

header {
    background-image: url('images/header-img.png');
    background-size: cover;
    position: relative;
    display: flex;
    height: 13em;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.placeholder {
    color: #787878;
    text-align: center;
}

/* =================
    Search Bar 
   ================= */

form {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    background-color: #2E2E2F;
}

.fa-magnifying-glass {
    color: #A5A5A5;
    padding: 0 0.5em 0 1em;
}

input[type='text'] {
    background: none;
    color: #A5A5A5;
    font-family: inherit;
    font-size: 0.875rem;
    padding: 0.75em 0.5em;
    border: none;
    flex: 1;
}

button {
    background-color: #4B4B4B;
    color: #fff;
    font-family: inherit;
    font-size: 0.875rem;
    padding: 0.75em 2.5em;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #787878;
}

/* =================
    Typography 
   ================= */

h1 {
    font-size: 2.625rem;
    font-weight: 800;
}

h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
}

a {
    font-weight: 700;
    font-size: 0.875rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.fa-film {
    color: #2E2E2F;
    font-size: 4rem;
}

.placeholder-text {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0.5em 0 0;
}

.explore-text {
    color: #2E2E2F;
}

/* =================
    Movie Container 
   ================= */

.movies {
    margin-top: 2.25em;
}

.movie {
    display: flex;
    align-items: center;
    padding: 1.25em 0;
    gap: 1.25em;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie-img {
    width: 6.25em;
    border-radius: 2.5px;
}

.movie-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.fa-star {
    color: #FEC654;
}

.movie-info {
    display: flex;
    align-items: center;
    gap: 1.875em;
    margin: 0.75em 0;
    font-size: 0.75rem;
}

.movie-info span {
    display: flex;
    align-items: center;
    gap: 0.35em;
    cursor: pointer;
}

.fa-circle-plus {
    font-size: 1rem;
}

.movie-plot {
    font-size: 0.875rem;
    line-height: 1.5;
    color: #A5A5A5;
    margin: 0;
}

/* =================
    Media Queries 
   ================= */

/* TODO: add responsiveness for larger screens */

@media (min-width: 768px) {
    form {
        width: 43.2em;
    }
}